@import '../../style/resize.scss';

.mianLayout {
  width: 100%;
  height: 100%;
  background-color: #fff;

  .nav {
    height: s(57.95);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;

    .navItem {
      height: 100%;
      width: (100%/6);
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: block;
        color: #999;
        font-size: s(14);
        line-height: s(57.95);
        text-align: center;

        &.icon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }

      .menu {
        width: s(16);
        height: s(16);
        background: url('');
      }
    }
  }
}